/*===============VIEWER=================*/

body{
	margin: 0px;
	display: flex;
	overflow: hidden;
	font-family: Arial;
	text-shadow: 0px 1px 0px rgba(255,255,255,0.9);
	align-items: center;
	height: 100vh;
	background: #DDD;
}

@keyframes hideExplorer{
	from {
		transform: translate(0px, 0px);
	}
	to{
		transform: translate(-220px, 0px);
	}
}

@keyframes showExplorer{
	from {
		transform: translate(-220px, 0px);
	}
	to{
		transform: translate(0px, 0px);
	}
}

#explorer{
	width: 300px;
	height: 80vh;
	background: #EEE;
	padding: 5px;
	
	box-shadow: 1px 0px 10px #DDD;
	border-right: 1px solid #eee;
	border-radius: 4px;
	
	overflow: hidden;
	
	animation: hideExplorer 0.5s;
	
	transform: translate(-220px, 0px);
	
	z-index: 100;
	
}

#explorer.open{
	animation: showExplorer 0.5s;
	transform: translate(0px, 0px);
}

#explorer h1{
	width: 100%;
	text-align: center;
	
	
	background: linear-gradient(to bottom, #FFF, #EEE);
	border: 1px solid rgba(205,208,210, 1);
	
	border-radius: 4px;
	
	font-size: 1.2em;
	color: gray;
}

#explorer h2{
	font-size: 0.8em;
	border: 1px solid lightgray;
	color: gray;
	background: white;
}

#explorer-content{
	
	width: 100%;
	height: 100%;
	
	display: flex;
	flex-direction: column;
	align-items: center;
}

#explorer .item{
	width: 95%;

	border-bottom: 1px solid lightgray;
	
	
	margin-bottom: 5px;
	
	color: gray;
	
	padding: 2px;
	padding-left: 10px;
}

#explorer .item.dir{
	background: linear-gradient(to bottom, #FFF, #EEE);
	margin-bottom: 8px;
	font-weight: bold;
}

#explorer .item:hover{
	transform: scale(1.01);
	cursor: pointer;
}

#viewer{
	width: 100%;
	transform: translate(-220px, 0px);
}

#viewer iframe{
	width: 95vw;
	height: 100vh;
	background: white;
	border: 0px;
	box-shadow: 1px 1px 5px #AAA;
	transform: translate(10px, 0px);
}

#editor{
	
	
	background: linear-gradient(to left,  #ddd,#fff);
	padding: 5px;
	
	border-left: 1px solid #eee;
	
	overflow: hidden;
	
	
	transform: translate(780px, 0px);
}

/*======================================*/